Source: ocaml-glpk
Section: devel
Priority: optional
Maintainer: Samuel Mimram <samuel.mimram@ens-lyon.org>
Build-Depends: debhelper (>= 4.0.0), glpk, ocaml-3.07, ocaml-findlib
Standards-Version: 3.6.1

Package: libglpk-ocaml
Section: libs
Architecture: any
Depends: ocaml-base-3.07, glpk, ${shlibs:Depends}
Description: OCaml bindings to GLPK for solving linear programming problems
 OCaml bindings the GLPK (GNU Linear Programming Kit) library for solving
 linear programming and mixed integer programming problems.

Package: libglpk-ocaml-dev
Section: libdevel
Architecture: any
Depends: ocaml-base-3.07, ocaml-findlib, libglpk-ocaml (= ${Source-Version})
Description: OCaml bindings to GLPK for solving linear programming problems
 OCaml bindings the GLPK (GNU Linear Programming Kit) library for solving
 linear programming and mixed integer programming problems.
