body
{
	text-align: justify;
	color: black;
	background-color: #EEF;
	padding: 0% 5%;
}

a:link { color: #00F; text-decoration: none; }
a:visited { color: #90F; text-decoration: none; }
a:active { color: #F00; text-decoration: none; }
a:hover { color: #F00; text-decoration: underline; }

h1
{
        text-align: center;
        border-width:1px 1px 1px 1px;
        border-style:solid;
        border-color:#AAF;
        padding: 10px 0px;
        margin: 10px 0px;
        background-color:#DDF;
}

h2
{
        border-width:1px 1px 1px 1px;
        border-style:solid;
        border-color:#AAF;
        padding: 2px 5px;
        margin: 10px 0px;
}

img { border : 0 }
img.icon { height: 32px ; }

ul
{
	margin: 0em;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
	padding-left: 2em;
	padding-right: 0em;
}

li
{
	padding-bottom: .3em;
	text-align: justify;
}
